{% extends "layouts/base.html" %}

{% block content %}
  {% include "includes/navigation.html" %}
  <div class="mx-auto mt-8 max-width-300 text-center">
  <h1>Delete cooker?</h1>
    <h3 class="text-danger">{{ cook.username }}</h3>
  <form action="" method="post">
    {% csrf_token %}
    <div class="mt-4">
      <input type="submit" value="Yes" class="btn btn-danger">
      <input type="button" value="Cancel" class="btn btn-primary" onclick="window.history.back();">
    </div>
  </form>
  </div>
{% endblock %}
