{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% block stylesheets %}
  {% load static %}
  <link id="pagestyle" href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  {% include "includes/navigation.html" %}
  <div class="row mx-10 mt-8 mx-auto" style="max-width: 1200px ">
  <h1>
    Cook
    <a href="{% url 'kitchen:cook-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
      <input type="text" name="last_name" placeholder="Search by last name" maxlength="255" class="textinput form-control border-solid-grey"  id="id_last_name">
      <input type="submit" class="btn btn-primary button-search" value="Search 🔎">
  </form>
  {% if cook_list %}
    <table class="table">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
        <th>Detailed information</th>
        {% if user.is_authenticated %}
          <th>Update</th>
          <th>Delete</th>
        {% endif %}
      </tr>

      {% for cook in cook_list %}
        {% if cook.first_name != "Admin"%}
          <tr>
            <td>
                {{ cook.first_name }}
            </td>
            <td>
                {{ cook.last_name }}
            </td>
            <td>
                {{ cook.years_of_experience }}
            </td>
            <td>
                <a href="{% url 'kitchen:cook-detail' pk=cook.pk %}">Detailed information</a>
            </td>
            {% if user.is_authenticated %}
            <td>
                <a href="{% url 'kitchen:cook-update' pk=cook.id %}">
                  Update
                </a>
              </td>
              <td>
                <a style="color: red"
                  href="{% url 'kitchen:cook-delete' pk=cook.id %}">
                  Delete
                </a>
              </td>
            {% endif %}
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    {% include "includes/pagination.html" %}
  {% else %}
      <p>There are no cook type in the service.</p>
  {% endif %}
  </div>
{% endblock %}
