{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Cook
    <a href="{% url 'kitchen:cook-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input type="submit" class="btn btn-primary button-search" value="Search 🔎">
  </form>
  {% if cook_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for cook in cook_list %}
        {% if cook.first_name != "Admin"%}
          <tr>
            <td>
                <a href="{% url 'kitchen:cook-detail' pk=cook.pk %}">{{ cook.id }}</a>
            </td>
            <td>
                {{ cook.first_name }}
            </td>
            <td>
                {{ cook.last_name }}
            </td>
            <td>
                {{ cook.years_of_experience }}
            </td>
            <td>
                <a href="{% url 'kitchen:cook-update' pk=cook.id %}">
                  Update
                </a>
              </td>
              <td>
                <a style="color: red"
                  href="{% url 'kitchen:cook-delete' pk=cook.id %}">
                  Delete
                </a>
              </td>
          
          </tr>
        {% endif %}
      {% endfor %}
    </table>

  {% else %}
      <p>There are no cook type in the service.</p>
  {% endif %}
{% endblock %}
