{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% block stylesheets %}
  {% load static %}
  <link id="pagestyle" href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  {% include "includes/navigation.html" %}
  <div class="mx-auto max-width-500 mt-8">
    <h1>{{ object|yesno:"Update,Create" }} Ingredients</h1>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}

      <input type="submit" value="Submit" class="btn btn-primary">
      <input type="button" value="Cancel" class="btn btn-primary" onclick="window.history.back();">
    </form>
  </div>
{% endblock %}
